
<h1> Welcome to Daily Round up </h1>

<p>
  We hope you find exactly what you're looking for here.
</p>

<div class="row">
  <ul>
    {{#each model as |post|}}
      {{post-tile post=post destroyPost="destroyPost"}}
    {{/each}}
  </ul>
</div>

{{outlet}}
