
<h1> Welcome to Daily Round up </h1>

We hope you find exactly what you're looking for here.

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}

{{outlet}}
